* {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #3a3a3a;
  transition: 0.4s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

.vertical-center {
  min-height: 100%;  /* Garantit que la div occupe au moins 100% de la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centre verticalement */
  text-align: center;  /* Centre horizontalement */
}

.vertical-center-home {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centre verticalement */
  text-align: center;  /* Centre horizontalement */
  margin-top: 10%;
}

.btn.carre {
  border-radius:0;
}

/* ---------------------Pour section principale ---------------------*/
.active-cont {
  margin-left: 180px;
}

#bars {
  background-color: none;
  color: #000000;
  
}

#home {
  background-image: url('../img/bg_header.jpg');
  background-size: cover; /* Assure que l'image couvre toute la surface de la div */
  background-position: center; /* Centre l'image de fond */
  height: 850px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}


@font-face {
  font-family: 'open-serif-bold';
  src: url('../font/OpenSerif-Bold.woff2'); /* chemin relatif vers le fichier de police */
}

h1 {
  font-family: 'open-serif-bold', sans-serif; /* Utilisation de la police personnalisée avec une police de secours */
  color: #ffffff; /* Couleur du texte (exemple) */
}

h1.big {
  font-size: 4rem; /* Exemple de taille de police */
}

.features {
  background-color: rgb(255, 255, 255);
  height: 400px;
}



.about {
  background-image: url("../img/bg_nuage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* covers the entire area */
  height: 600px;
}

@font-face {
  font-family: "typicons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.2/typicons.woff") format("woff"),
}

.icon-lrg {
  font-size: 4em;
}